<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="../../dist/styles/output.css" rel="stylesheet">
</head>
<body>
    <div class="bg-gray-100 flex items-center justify-center ">
        <!-- Comment Container -->
        <form class="max-w-7xl w-full bg-white p-6 rounded-lg border-2 border-slate-300">
      
          <!--  Comment Section -->
          <h2 class="text-xl text-gray-800 font-semibold mb-2 font-marcellus">Write a Comment</h2>
          <p class="text-sm text-green-600 mb-4 font-marcellus">Add a Comment</p>
      
          <!-- Comment Input -->
          <textarea
            rows="5"
            class="w-full p-4 border rounded-lg font-roboto text-gray-700 focus:outline-none focus:border-green-900"
            placeholder="Write your comment "
          ></textarea>
      
          <!-- Submit Button -->
          <button
           type="submit"
            class="mt-4 px-6 py-2 bg-[#307331] text-white font-marcellus rounded-lg hover:bg-green-900 transition-colors">
            Submit Review
          </button>
      
      </form>
      
      </div>
      
</body>
</html>